# Server Settings
PORT=5000
NODE_ENV=development

# Database Settings
# For Local: mongodb://localhost:27017/portfolio
# For Production: Use your MongoDB Atlas connection string
MONGO_URI=your_mongodb_uri_here

# Client URL (For CORS - primarily for local dev)
CLIENT_URL=http://localhost:5173

# Resend API (For Contact Form)
RESEND_API_KEY=re_your_api_key_here
CONTACT_EMAIL=your_email@gmail.com

